section {
    padding-top: 3%;

    .bg-fish {
        background-color: #2DC0FF;
    }

    .bg-shrimp {
        background-color: #FF6565;
    }

    .bg-plant {
        background-color: #59B762;
    }

    .bg-accessory {
        background-color: #7D4EB8;
    }
}